
<div id="about-us" class="container"> 
<section class="about_us">
    <h2 class="about_us_title">Quiénes Somos</h2>
<div class="team_members">    
<article  class="team-member">
   <figure>      
    <img class="images"  src="./images/Avatar1.png" alt="Foto Alejandra">
    </figure>
    <div class="memberinfo">
    <h2 class="name_member">Alejandra Sánchez</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <nav>
    <ul class="social_media">
    <li>
        <a class="social_media" href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </li>
    <li>
       <a class="social_media" href="https://www.linkedin.com/in/alejandra-s%C3%A1nchez-3663bb300/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    </li>
    <li>
       <a class="social_media" href="https://github.com/alexlab84" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
    </li>
    <li>
        <a class="social_media" href="mailto:alexlab84@hotmail.com"><i class="fa-solid fa-envelope"></i></a>
    </li>
    </ul>
   </nav>  
</div>    
</article>
<Article class="team-member">
    <figure> 
    <img class="images"  src="./images/Avatar2.png" alt="Foto Eva">
    </figure>
    <div class="memberinfo">
    <h2 class="name_member">Eva Sánchez</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <nav> 
    <ul class="social_media">
        <li>
            <a class="social_media" href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
            <a class="social_media" href="https://www.linkedin.com/in/eva-mar%C3%ADa-s%C3%A1nchez-guerrero-7097b1304/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>
            <a class="social_media" href="https://github.com/evasanzguerrero"  target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>
            <a class="social_media" href="mailto:mvictoriadoll@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </li>
        </ul>
    </nav>
    </div>         
</Article>
<article class="team-member">   
    <figure class="figure">  
    <img class="images"  src="./images/Avatar3.png" alt="Foto Francheska">
    </figure>
    <div class="memberinfo">
     <h2 class="name_member">Francheska Contreras Garcia</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <nav> 
    <ul class="social_media">
        <li>
            <a class="social_media" href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
            <a class="social_media" href="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></li></a>
        <li>
            <a class="social_media" href="https://github.com/francheskajcg" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>
            <a class="social_media" href="mailto:mvictoriadoll@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </li>
        </ul>
    </nav>
    </div>     
</article>
<article class="team-member"> 
    <figure class="figure"> 
    <img class="images"  src="./images/Avatar4.png" alt="Virginia">
    </figure>
    <div class="memberinfo">
     <h2 class="name_member">Virginia Vilchez</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <nav> 
    <ul class="social_media">
        <li>
            <a class="social_media" href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
            <a class="social_media" href="https://www.linkedin.com/in/virginia-vilchez-torres/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>
            </a>   
        </li>
        <li>
            <a class="social_media" href="https://github.com/virvilt" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>
            <a class="social_media" href="mailto:mvictoriadoll@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </ul>
    </nav>
</article>
<article class="team-member">  
    <figure class="figure">   
    <img class="images"  src="./images/Avatar5.png" alt="Victoria">
    </figure>
    <div class="memberinfo"> 
    <h2 class="name_member">Victoria Doll</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <nav> 
    <ul class="social_media">
        <li>
            <a class="social_media" href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
            <a class="social_media" href="https://www.linkedin.com/in/victoria-doll-2322b84a/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>
            </a>   
        </li>
        <li>
            <a class="social_media" href="https://github.com/MvictoriaDoll" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>
            <a class="social_media" href="mailto:mvictoriadoll@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </li>
        </ul>
    </nav>
    </div>
</div>        
</article>        
</section>
</div>