
<div class="contenedor_madre">
    <p class="footer_group_name">Team 2. 5+ &copy;2023</p> 

<nav>
    <ul class="menu__list">
        <li class="element"><a href="../index.html#team" class="footer_link">Equipo</a></li>
        <li class="element"><a href="../index.html#about-us" class="footer_link">Quiénes somos</a></li>
        <li class="element"><a href="../contact.html" class="footer_link">Contacto</a></li>
    </ul>
</nav>

<img class="icon" src="./images/adalab_icon.png" alt="icono adalab">
</div>

     

   


