
<form  class="formulario_container" action="https://formspree.io/f/mzbnqgvp" method="POST">
    <label class="form_label" for="nombre">Nombre Completo <span class="asterisk">*</span></label>
    <input class="form_input" type="text" id="nombre" name="nombre" placeholder="Nombre..." required>
    <label class="form_label" for="email">Email <span class="asterisk">*</span></label>
    <input class="form_input input_email" type="email" id="email" name="email" placeholder="nombre.apellidos@gmail.com" required>
    <label class="form_label" for="telefono">Teléfono</label>
    <input class="form_input" type="tel" id="telefono" name="telefono" placeholder="Ej: 123456789" required>
    <label class="form_label" for="mensaje">Mensaje<span class="asterisk">*</span></label>
    <textarea class="input_message" name="mensaje" placeholder="¿Qué necesitas?" required></textarea>
    <div class="container_button">
        <input class="send_button" type="submit" id="submit" value="Enviar">
    </div>
</form>