<section id="team" class="team_section">
  <article class="team">
    <h1 class="team_title">equipo</h1>
    <p class="description">Nuestro equipo está compuesto exclusivamente por mujeres desarrolladoras apasionadas y talentosas. Cada miembro aporta una combinación única de habilidades técnicas y creatividad, trabajando juntas para desarrollar aplicaciones innovadoras y de alta calidad.</p>
    <p class="description">Fomentamos un ambiente colaborativo donde cada idea es valorada y cada contribución cuenta.</p>
  </article>
  <div class="strength_weakness">
    <div class="diamond"></div>
    <article class="strength">
      <h2 class="green_title">fortalezas</h2>
      <p class="description">Nuestra mayor fortaleza es la dedicación y la diversidad de nuestro equipo de mujeres desarrolladoras. Nuestra colaboración nos permite abordar problemas desde múltiples perspectivas y crear soluciones únicas.</p>
    </article>
    <article class="weakness">
      <h2 class="green_title">debilidades</h2>
      <p class="description">Uno de los desafíos que enfrentamos es la constante actualización de nuestras habilidades técnicas en un campo tan dinámico como el desarrollo de aplicaciones.Asegurando que cada aplicación que desarrollamos sea intuitiva.</p>
    </article>
  </div>
</section>