.menu__list {
    display:none ;
    position: absolute;
    top: 2rem;
    right: 0;
    list-style-type: none ;

    border: solid 2px #fff;
    padding: 1 em;
    background-color: #93e8e5;
    
}

.menu__list.visible {
    display: block;
}

.menu__button {
    cursor: pointer;
}

.menu__list .visible {
    display: block;
}

