<main class="main">

    <load src="partials/_card.html" nombre="Gatito 1" img="./images/cat.jpeg" description="Este es el gatito 1" />
    <load src="partials/_card.html" nombre="Gatito 2" img="./images/cat.jpeg" description="Este es el gatito 2" />


    <article class="card">
      <h2>Gatito 1</h2>
      <img src="./images/cat.jpeg" class="card_img" alt="Gatito 1">
      <p>Esto es una foto de gatito 1</p>
    </article>

    <article class="card">
      <h2>Gatito 2</h2>
      <img src="./images/cat.jpeg" class="card_img" alt="Gatito 2">
      <p>Esto es una foto de gatito 2</p>
    </article>

    <article class="card">
        <h2>Gatito 3</h2>
        <img src="./images/cat.jpeg" class="card_img" alt="Gatito 3">
        <p>Esto es una foto de gatito 3</p>
      </article>
  </main>