body {
color:#23A9B4;
background-color: #A2D2D6;
}
div {
width: 60%;
margin: 20px, 20px, 20px, 20px; /* top right bottom left */
padding-right: 20px;
border-color: #1dc7d6;
border-style: groove;
border-radius: 5px;
box-sizing : border-box; /* el borde queda dentro del width total. UTILIZAR SIEMPRE*/
}
.tittle {
    margin-block: 10px; /* top=bottom */
    margin-inline: 10px; /* right=left; */
    font-family:'Trebuchet MS', sans-serif;
    font-style: oblique;
}

.picture {
    width: 100px;
}
.link {
    /* background-color:salmon; */
    height: 300px;
    width: 1000px;;
}