<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/main.css" />
    <title>Ejercicio flexbox</title>
  </head>
  <body class="page_container">
    <header class="header">
        <div class="centralcolumn">
            <h1>Blog</h1>

                <nav>
                  <ul class="menulist">
                   <li><a class="menu_list" href="#">Inicio</a></li>
                  <li><a class="menu_list" href="#">Archivo</a></li>
                   <li><a class="menu_list" href="#">Contato</a></li>
                 </ul>
                </nav>
        </div>
    </header>